:root {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    height: 100vh;
    width: 100vw;
}

.bg-img {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-img::after,
.bg-img::before {
    position: absolute;
    content: '';
    height: 100vh;
    width: 100vw;
    transform: translate(-60%, -70%);
    z-index: -1;
}

.bg-img::after {
    background: url('/images/bg-pattern-top-desktop.svg') no-repeat bottom right;
    left: 0;
    top: 0;
}

.bg-img::before {
    background: url('/images/bg-pattern-bottom-desktop.svg') no-repeat top left;
    left: 100%;
    top: 100%;
}

.container {
    margin: 8em;
}


/* TOP */

.top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-left {
    width: 31.5vw;
}

.title {
    color: hsl(300, 43%, 22%);
    font-size: 3.5rem;
    margin-bottom: 0.3em;
}

.top-left-p {
    color: hsl(303, 10%, 53%);
    line-height: 1.7;
}

.top-right {
    width: 31vw;
}

.rated {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    margin-bottom: 1em;
    padding: 1.2em;
}

.rated-top {
    position: relative;
    right: 12em;
}

.rated-middle {
    position: relative;
    right: 6em;
}

.stars img {
    margin-left: 0.5em;
}

.rated-info-p {
    color: hsl(300, 43%, 22%);
    margin-left: 1.8em;
    font-weight: 700;
}


/* BOTTOM */

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    padding: 2em;
    width: 27.5vw;
    word-spacing: 1.5;
}

.profile {
    display: flex;
}

.profile-img img {
    border-radius: 50%;
    margin-right: 2em;
    width: 3.5em;
}

.status {
    color: hsl(333, 80%, 67%);
}

.opinion {
    margin-top: 2em;
}

.middle-card {
    margin-left: 2em;
    position: relative;
    top: 1.75em;
    /* width: 29vw; */
}

.left-card {
    margin-left: 2em;
    position: relative;
    top: 3em;
    /* width: 29vw; */
}